numpy
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
einops==0.8.1
einops-exts==0.0.4
tensorboardX==2.6.4
protobuf==5.29.5
cython-bbox==0.1.5
Cython==3.0.12
ultralytics==8.3.23
